.container {
  height: 100vh;
}

.background-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  background: url(../img/albums.jpg);
  width: 100%;
  height: 300vh;
  background-size: contain;
  animation: slide 120s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, -300vh, 0);
  }
}

p {
  margin: 0px;
}

.center-disc {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 200px;
  box-sizing: border-box;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.content-container p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.link-spotify-button {
  width: 100%;
  border: none;
  height: 30px;
  background: black;
  color: white;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 80%;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}

.link-spotify-button:hover {
  background: #1ed760;
}