.App {
  text-align: center;
  background-color: #44C572;
  height: 100%
}

/* .Header {
  height: 80px;
} */

.Body {
  background-color: #33AE5E;
  pointer-events: none;
  font-weight: bolder;
  padding: 50px 50px;
}

.inner {
  background-color: #6DC18A;
  height: 200px;
  margin-bottom: 50px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
